[submodule "minisat"]
	path = minisat
	url = https://github.com/niklasso/minisat.git
[submodule "bimap"]
	path = bimap
	url = https://github.com/boostorg/bimap.git
[submodule "config"]
	path = config
	url = https://github.com/boostorg/config.git
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/boostorg/algorithm.git
[submodule "mpl"]
	path = mpl
	url = https://github.com/boostorg/mpl.git
